<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wtkj.oa.dao.ContractMapper">
    <resultMap id="BaseResultMap" type="com.wtkj.oa.entity.Contract">
        <id column="contract_id" javaType="java.lang.String" property="contractId" jdbcType="VARCHAR"/>
        <result column="contract_name" javaType="java.lang.String" property="contractName" jdbcType="VARCHAR"/>
        <result column="business_type" javaType="java.lang.Integer" property="businessType" jdbcType="INTEGER"/>
        <result column="contract_type" javaType="java.lang.String" property="contractType" jdbcType="VARCHAR"/>
        <result column="company_id" javaType="java.lang.String" property="companyId" jdbcType="VARCHAR"/>
        <result column="company_name" javaType="java.lang.String" property="companyName" jdbcType="VARCHAR"/>
        <result column="user_id" javaType="java.lang.String" property="userId" jdbcType="VARCHAR"/>
        <result column="contract_file" javaType="java.lang.String" property="contractFile" jdbcType="VARCHAR"/>
        <result column="contract_status" javaType="java.lang.Integer" property="contractStatus" jdbcType="INTEGER"/>
        <result column="invoice_status" javaType="java.lang.Integer" property="invoiceStatus" jdbcType="INTEGER"/>
        <result column="collection_status" javaType="java.lang.Integer" property="collectionStatus" jdbcType="INTEGER"/>
        <result column="create_time" javaType="java.lang.String" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="last_update_time" javaType="java.lang.String" property="lastUpdateTime" jdbcType="TIMESTAMP"/>
        <result column="billing_date" property="billingDate" javaType="java.sql.Date" jdbcType="DATE"/>
        <result column="collection_date" property="collectionDate" javaType="java.sql.Date" jdbcType="DATE"/>
        <result column="file_name" javaType="java.lang.String" property="fileName" jdbcType="VARCHAR"/>
        <result column="contract_matter" javaType="java.lang.String" property="contractMatter" jdbcType="VARCHAR"/>
        <result column="company_type" javaType="java.lang.String" property="companyType" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="ResultMap" type="com.wtkj.oa.entity.ContractDate">
        <result column="contract_id" javaType="java.lang.String" property="contractId" jdbcType="VARCHAR"/>
        <result column="company_id" javaType="java.lang.String" property="companyId" jdbcType="VARCHAR"/>
        <result column="name" javaType="java.lang.String" property="name" jdbcType="VARCHAR"/>
        <result column="type" javaType="java.lang.String" property="type" jdbcType="VARCHAR"/>
        <result column="status" javaType="java.lang.Integer" property="status" jdbcType="INTEGER"/>
        <result column="complete_date" javaType="java.lang.String" property="completeDate" jdbcType="VARCHAR"/>
        <result column="billing_status_before" javaType="java.lang.Integer" property="billingStatusBefore"
                jdbcType="INTEGER"/>
        <result column="billing_date_before" javaType="java.lang.String" property="billingDateBefore"
                jdbcType="VARCHAR"/>
        <result column="collection_status_before" javaType="java.lang.Integer" property="collectionStatusBefore"
                jdbcType="INTEGER"/>
        <result column="collection_date_before" javaType="java.lang.String" property="collectionDateBefore"
                jdbcType="VARCHAR"/>
        <result column="billing_status_after" javaType="java.lang.Integer" property="billingStatusAfter"
                jdbcType="INTEGER"/>
        <result column="billing_date_after" javaType="java.lang.String" property="billingDateAfter" jdbcType="VARCHAR"/>
        <result column="collection_status_after" javaType="java.lang.Integer" property="collectionStatusAfter"
                jdbcType="INTEGER"/>
        <result column="collection_date_after" javaType="java.lang.String" property="collectionDateAfter"
                jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
                t.contract_id,
                t.contract_name,
                t.business_type,
                t.contract_type,
                t.company_id,
                c.company_name,
                t.user_id,
                t.contract_file,
                t.contract_status,
                t.invoice_status,
                t.collection_status,
                t.create_time,
                t.last_update_time,
                t.billing_date,
                t.collection_date,
                t.file_name,
                t.company_type,
                t.contract_matter
    </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from contract_info t,company_info c
        where t.company_id = c.company_id
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from contract_info t,company_info c
        where t.company_id = c.company_id
        and t.contract_id = #{contractId,jdbcType=VARCHAR}
    </select>

    <select id="selectByCompanyId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from contract_info t,company_info c
        where t.company_id = c.company_id
        and t.company_id = #{companyId,jdbcType=VARCHAR}
    </select>

    <select id="getContractContent" parameterType="java.lang.String" resultType="java.lang.String">
        select CONVERT(contract_file USING utf8) AS contractFile
        from contract_info
        where contract_id = #{contractId,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from contract_info
        where contract_id = #{contractId,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteByType" parameterType="java.lang.String">
        delete
        from contract_info
        where business_type = '2'
          and contract_type = '4'
          and company_id = #{companyId,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.wtkj.oa.entity.Contract">
        insert into contract_info (contract_id, contract_name, business_type, contract_type,
                                   company_id, user_id, contract_file,
                                   contract_status, invoice_status, collection_status,
                                   create_time, last_update_time, billing_date, collection_date, contract_matter,company_type)
        values (#{contractId,jdbcType=VARCHAR}, #{contractName,jdbcType=VARCHAR}, #{businessType,jdbcType=INTEGER},
                #{contractType,jdbcType=INTEGER}, #{companyId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
                #{contractFile,jdbcType=VARCHAR},
                #{contractStatus,jdbcType=INTEGER}, #{invoiceStatus,jdbcType=INTEGER},
                #{collectionStatus,jdbcType=INTEGER},
                #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{billingDate,jdbcType=DATE},
                #{collectionDate,jdbcType=DATE}, #{contractMatter,jdbcType=VARCHAR},#{companyType})
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.wtkj.oa.entity.Contract">
        update contract_info
        <set>
            <if test="contractName != null">
                contract_name = #{contractName,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null">
                business_type = #{businessType,jdbcType=INTEGER},
            </if>
            <if test="contractType != null">
                contract_type = #{contractType,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                company_id = #{companyId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="contractFile != null">
                contract_file = #{contractFile,jdbcType=VARCHAR},
            </if>
            <if test="contractStatus != null">
                contract_status = #{contractStatus,jdbcType=INTEGER},
            </if>
            <if test="invoiceStatus != null">
                invoice_status = #{invoiceStatus,jdbcType=INTEGER},
            </if>
            <if test="collectionStatus != null">
                collection_status = #{collectionStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null">
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="billingDate != null">
                billing_date = #{billingDate,jdbcType=TIMESTAMP},
            </if>
            <if test="collectionDate != null">
                collection_date = #{collectionDate,jdbcType=TIMESTAMP},
            </if>
            <if test="fileName != null">
                file_name = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="contractMatter != null">
                contract_matter = #{contractMatter,jdbcType=VARCHAR},
            </if>
            <if test="companyType!=null and companyType!=''">
                company_type=#{companyType},
            </if>
        </set>
        where contract_id = #{contractId,jdbcType=VARCHAR}
    </update>

    <select id="selectIdByType" parameterType="java.lang.Integer" resultType="java.lang.String">
        select max(cast(substring(contract_id, 9) as UNSIGNED INTEGER))
        from contract_info
        where business_type = #{businessType,jdbcType=INTEGER}
    </select>

    <select id="getDateByType" resultType="java.lang.String">
        select complete_date
        from contract_date
        where contract_id = #{contractId,jdbcType=VARCHAR}
          and type = #{type,jdbcType=VARCHAR}
    </select>

    <select id="getDateList" parameterType="java.lang.String" resultMap="ResultMap">
        select contract_id,name,type,complete_date
        from contract_date
        where contract_id = #{contractId,jdbcType=VARCHAR}
    </select>

    <select id="dateList" parameterType="java.lang.String" resultType="java.lang.String">
        select distinct company_id
        from contract_date
        where billing_status_before = 0
    </select>

    <delete id="deleteDate">
        delete
        from contract_date
        where contract_id = #{contractId,jdbcType=VARCHAR}
          and type = #{type,jdbcType=VARCHAR}
    </delete>

    <delete id="deleteAllDate">
        delete
        from contract_date
        where contract_id = #{contractId,jdbcType=VARCHAR}
    </delete>

    <insert id="addDate" parameterType="com.wtkj.oa.entity.ContractDate">
        insert into contract_date(contract_id, type, complete_date, company_id, status,contract_year)
        values (#{contractId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR},
                #{completeDate,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR},
                #{status,jdbcType=INTEGER},#{contractYear,jdbcType=INTEGER})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into contract_info (contract_id, contract_name, business_type, contract_type,
        company_id, user_id, contract_file,
        contract_status, invoice_status, collection_status,
        create_time, last_update_time, billing_date, collection_date)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.contractId,jdbcType=VARCHAR}, #{item.contractName,jdbcType=VARCHAR},
            #{item.businessType,jdbcType=INTEGER},
            #{item.contractType,jdbcType=INTEGER}, #{item.companyId,jdbcType=VARCHAR}, #{item.userId,jdbcType=VARCHAR},
            #{item.contractFile,jdbcType=VARCHAR},
            #{item.contractStatus,jdbcType=INTEGER}, #{item.invoiceStatus,jdbcType=INTEGER},
            #{item.collectionStatus,jdbcType=INTEGER},
            #{item.createTime,jdbcType=TIMESTAMP}, #{item.lastUpdateTime,jdbcType=TIMESTAMP},
            #{item.billingDate,jdbcType=DATE}, #{item.collectionDate,jdbcType=DATE})
        </foreach>
    </insert>

    <update id="updateContractDate" parameterType="com.wtkj.oa.entity.ContractDate">
        update contract_date
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="billingStatusBefore != null">
                billing_status_before = #{billingStatusBefore,jdbcType=INTEGER},
            </if>
            <if test="billingDateBefore != null">
                billing_date_before = #{billingDateBefore,jdbcType=VARCHAR},
            </if>
            <if test="collectionStatusBefore != null">
                collection_status_before = #{collectionStatusBefore,jdbcType=INTEGER},
            </if>
            <if test="collectionDateBefore != ''">
                collection_date_before = #{collectionDateBefore,jdbcType=VARCHAR},
            </if>
            <if test="billingStatusAfter != null">
                billing_status_after = #{billingStatusAfter,jdbcType=INTEGER},
            </if>
            <if test="billingDateAfter != null">
                billing_date_after = #{billingDateAfter,jdbcType=VARCHAR},
            </if>
            <if test="collectionStatusAfter != null">
                collection_status_after = #{collectionStatusAfter,jdbcType=INTEGER},
            </if>
            <if test="collectionDateAfter != ''">
                collection_date_after = #{collectionDateAfter,jdbcType=VARCHAR},
            </if>
            <if test="completeDate != null">
                complete_date = #{completeDate,jdbcType=VARCHAR},
            </if>
        </set>
        where contract_id = #{contractId,jdbcType=VARCHAR}
        and type = #{type,jdbcType=VARCHAR}
    </update>

    <select id="getMaxStatus" resultType="java.lang.Integer">
        select max(status)
        from contract_date
        where contract_id = #{contractId,jdbcType=VARCHAR}
    </select>

    <select id="getMinStatus" resultType="java.lang.Integer">
        select min(status)
        from contract_date
        where contract_id = #{contractId,jdbcType=VARCHAR}
    </select>

    <select id="getStatusById" resultType="java.lang.Integer">
        select status
        from contract_date
        where contract_id = #{contractId,jdbcType=VARCHAR}
    </select>

    <select id="getStatus" resultMap="ResultMap">
        SELECT contract_id,
               NAME,
               type,
               complete_date,
               STATUS,
               billing_status_before,
               billing_date_before,
               collection_status_before,
               collection_date_before,
               billing_status_after,
               billing_date_after,
               collection_status_after,
               collection_date_after,
               contract_year
        FROM contract_date t
        where contract_id = #{contractId,jdbcType=VARCHAR}
          and type = #{type,jdbcType=VARCHAR}
    </select>
</mapper>